.tttcomponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    margin: 0px 350px 150px 350px;
    font-family: 'Press Start 2P', cursive;
    background-color: hsla(193, 100%, 35%, 1);
}

.square {
    height: 70px;
    width: 70px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: hsla(199, 81%, 16%, 1);
    color: hsla(179, 8%, 96%, 1);
}

.status {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
}

p {
    line-height: 32px;
    padding-bottom: 50px;
}

h4 {
    font-size: 25px;
    font-weight: bold;
}